@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.header {
	height: 55px;
	border: 1px solid #d2d2d2;
}

.header__container {
	height: 100%;
	max-width: 760px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	height: 2.5em;
}

.header__button {
	cursor: pointer;
}

.content {
	background: #f9f9f9;
}

.content__container {
	display: flex;
	flex-direction: column;
	max-width: 760px;
	margin: 0 auto;
}

.content__status {
	display: flex;
	align-items: center;
	padding: 1em 0;
}

.profile__image,
.profile__image > *{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid white;
}

.profile__image {
	margin-left: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile__image--active {
	background: linear-gradient(
		45deg,
		rgba(245,160,77,1) 0%, 
		rgba(160,15,139,1) 100%
	);
	width: 85px;
	height: 85px;
	border-radius: 50%;
}